/* Add CSS styling here */

/*header section 1*/

html{
    font-size:62.5%;
}
body{
    background-color:DarkSeaGreen;
}
h1{
    text-align:center;
    font-size:5rem;
}

nav{
    text-align:center;
    padding:1.5rem;
    font-size:2.5rem;
}

/*nav bar buttons*/

.intro nav a{
    padding: .3rem;
    display: inline-block;
    border-radius: 1.5rem;
    color:aliceblue;
    margin-bottom:2rem;
    background:black;
}
/*nav animation*/

.intro nav a:hover{
    background:aliceblue;
    color:black;
}

/*header content*/

h2{
    text-align:center;
    font-size:4rem;
}

p{
    text-align:center;
    padding-left:10%;
    padding-right:10%;
    font-size:2rem;
}

/*middle photo*/

.middle{
    display:flex;
    justify-content:center;
}

.middle-picture img{
    width:45rem;
    padding:15%;
}

/*middle photo at 800px*/

@media(max-width:800px){
    .middle-picture{
        width:85%;
    }
}

/*middle photo at 500px*/

@media(max-wiidth:500px){
    .middle-picture{
        width:50%;
    }
}
/*bottom section with kitten pictures*/



#loaf, #boo, #plant, #windowderp, #image-text{
    width:13rem;
    padding:2%;
}
.pics{
    display:flex;
    justify-content:center;
}

/*.pics photo at 800px*/

@media(max-width:800px){
    .pics{
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        padding:2rem;
        flex-wrap:wrap;
    }
}
@media(max-width:500px){
    .pics{
        display:flex;
        flex-direction:row;
        width:90%;
        flex-wrap:wrap;
    }
}

/*footer and footer animation*/
footer a{
    border:.5rem black;
    display: inline-block;
    border-radius: 1.5rem;
    color:aliceblue;
    margin-bottom:2rem;
    background:black;
    padding:1.5rem;
    font-size:2.5rem;
    margin-left:43%;
    margin-right:50%;
}
footer a:hover{
    background:aliceblue;
    color:black;
}
@media(max-width:500px){
    footer{
        margin-right:12%
    }
}