/* Add CSS styling here */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
/*border: 0;*/  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /*border:1px solid gray;*/
}

html{
    font-size:62.5%;
    max-width:900px;
    width:100%;
    margin:0 auto;
}
body{
    background-color:lemonchiffon;
    font-family: 'Proza Libre', sans-serif;
    color:slategray;
    /*border:2px solid gray;*/
}
/*end of general styling*/

/*header section styling*/
.header{
    display:flex;
    justify-content:space-between;
    background-color:paleturquoise;
    padding:3rem;
    border:2px solid gray;
}
h2{
    font-size:2.5rem;
    color:slategray;
    font-family: 'Cormorant Garamond', serif;
}
a{
    padding:.75rem 2rem .75rem 2rem;
    border-radius:5px;
    color:#FFFFFF;
    background-color:lightcoral;
    text-decoration:none;
    font-size:1rem;
    margin:1rem;
    border:1px solid gray;
}
a:hover{
    opacity:0.8;
}
/*end of header section styling*/

/*hero image styling*/

.main{
    position: relative;
    text-align: center;
    color: white;
}
.heroImage{
    max-width:100%;
    padding:6rem;
    opacity:0.8; 
}
h1{
    font-size:15rem;
    margin:2rem;
    font-family: 'Cormorant Garamond', serif;
}
.imageText{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.main a{
    padding:.75rem 2rem .75rem 2rem;
} 
/*end of hero image styling*/

/*projects section styling*/
h3{
    font-family: 'Cormorant Garamond', serif;
    font-size:2rem;
}
.projects{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    color:slategrey;
}
.projects div{
    width:25%;
    margin:3rem;
    /*margin:0 3rem 0 3rem;*/
    padding:2rem;
    background-color:lightcyan;
    border:2px dashed gray;
}
.project1 img{
    width:100%;
    height:47%;
}
.project3 img{
    width:100%;
    height:47%;
}
/*end of projects section styling*/

/*footer styling*/
.footer{
    display:flex;
    justify-content:center;
    padding:1rem;
    background-color:paleturquoise;
    border:2px solid gray;
}

.footer a{
    margin:2rem;
    padding:.75rem 2rem .75rem 2rem;
}

/*about me styling section*/
.header h1{
    font-size:12rem;
    justify-content:center;
    border:none;
}
.mainAboutMe{
    margin:5rem;
}
.mainAboutMe h2{
    color:slategray;
    font-size:5rem;
    margin:2rem;
}
.mainAboutMe p{
    color:slategray;
    font-size:1.5rem;
}
.mainAboutMe img{
    max-width:100%;
    padding:5rem;
}
.text{
    border:1px dashed gray;
    margin:3rem;
    background-color:aliceblue;
    padding:3rem;
}
/*end of about me styling*/

/*project page styling*/

.projectHeader{
    background-color:paleturquoise;
    justify-content:center;
    border:2px solid gray;
    text-align:center;
}
.projectHeader h1{
    font-size:13.5rem;
}
.projectHeader h2{
    font-size:8rem;
    padding:2rem;
    margin-left:auto;
    margin-right:auto;
}
.projectOne{
    display:flex;
}
.projectTwo{
    display:flex;
}
.projectOne{
    border:1px dashed gray;
    margin:3rem;
    background-color:aliceblue;
    padding:3rem;
}
.projectTwo{
    border:1px dashed gray;
    margin:3rem;
    background-color:aliceblue;
    padding:3rem;
}
.mainProjects img{
    width:25%;
    margin:2rem;
}
.project1Text{
    padding:10rem;
}
.project2Text{
    padding:10rem;
}

/*end of project page styling*/
.contactHeader{
    background-color:paleturquoise;
    justify-content:center;
    border:2px solid gray;
    text-align:center;
}
.contactHeader h1{
    font-size:13.5rem;
}
.contactHeader h2{
    font-size:8rem;
    padding:2rem;
    margin-left:auto;
    margin-right:auto;
}
.fa {
    padding:2rem;
    font-size:5rem;
    width:5rem;
    text-align: center;
    text-decoration: none;
    border-radius:30%;
    margin-left:18rem;
    /*margin-right:5rem;*/
    border:1px dashed gray;
    background-color:aliceblue;
    color:slategray;
}
.contactImage{
    max-width:100%;
    padding:6rem;
    opacity:0.8; 
}
.contactIcons{
    position:absolute;
    top:90%;
    /*left:50%;*/
    transform:translate(-10%,-1 0%);
}